body{
    background-image: url(/source/homebg5.jpg);
    justify-content: center;
    text-align: center;
}
h1{
    color: white;
    font-size: 80px;
    margin-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  .container4 {
    text-align: center; /* căn giữa các nội dung con */
  }
  .content {
    display: inline-block; /* biến thành phần tử nội tuyến khối */
    margin: 100px; /* tạo khoảng cách giữa các nội dung con */
    margin-top: 20px;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #f7dc14;
  }
  .ctn{
    display: inline-block; /* biến thành phần tử nội tuyến khối */
    margin: 100px; /* tạo khoảng cách giữa các nội dung con */
    margin-top: 10px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
footer {
    background-image: url(/source/homebg6.jpg);
    background-size: 100% auto;
    padding: 20px; /* khoảng cách lề */
    font-family: Arial, sans-serif; 
    color: white;
    margin: none;
  }

  /* Thiết lập kiểu cho ảnh */
  .footer-logo {
    width: 100px; /* chiều rộng */
    height: auto; /* chiều cao tự động */
    margin-right: 20px; /* khoảng cách bên phải */
    float: left; /* trôi sang trái */
  }

  /* Thiết lập kiểu cho các nội dung khác */
  .footer-content {
    display: inline-block; /* biến thành phần tử nội tuyến khối */
    vertical-align: top; /* căn giữa theo chiều dọc */
    width: calc(25% - 20px); /* chiếm 1/4 chiều rộng trừ đi khoảng cách */
    margin-right: 20px; /* khoảng cách bên phải */
  }


  /* Thiết lập kiểu cho danh sách liên kết của nội dung thứ ba */
  .footer-content ul {
    list-style-type: none; /* bỏ dấu đầu dòng */
    padding-left: 0; /* bỏ đệm bên trái */
    margin-bottom: 10px; /* khoảng cách bên dưới */
  }

  /* Thiết lập kiểu cho các liên kết trong danh sách */
  .footer-content ul li a {
    color: white; /* màu chữ */
    text-decoration: none; /* bỏ gạch chân */
    display: block; /* biến thành phần tử khối */
    padding: 5px; /* khoảng đệm */
  }

  /* Thiết lập kiểu khi di chuột qua các liên kết trong danh sách */
  .footer-content ul li a:hover {
    color: #f7dc14 ; /* màu chữ khi di chuột qua */
  }