body{
    background-image: url(/source/homebg5.jpg);
    justify-content: center;
    text-align: center;
}
h1{
    color: white;
    font-size: 80px;
    margin-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  .container4 {
    text-align: center;
  }
  .content {
    display: inline-block; 
    margin: 100px; 
    margin-top: 20px;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #f7dc14;
  }
  .ctn{
    display: inline-block;
    margin: 100px; 
    margin-top: 10px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
footer {
    background-image: url(/source/homebg6.jpg);
    background-size: 100% auto;
    padding: 20px;
    font-family: Arial, sans-serif; 
    color: white;
    margin: none;
  }

  
  .footer-logo {
    width: 100px;
    height: auto; 
    margin-right: 20px;
    float: left;
  }


  .footer-content {
    display: inline-block;
    vertical-align: top;
    width: calc(25% - 20px); 
    margin-right: 20px; 
  }



  .footer-content ul {
    list-style-type: none; 
    padding-left: 0; 
    margin-bottom: 10px;
  }


  .footer-content ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px;
  }


  .footer-content ul li a:hover {
    color: #f7dc14 ;
  }